.header
{  
    width : 100%;  
    height: 720px;  
    background-image: url("images/header_background.jpg");           
}


.body_container_second
{ 
    width: 100%;
    height: 720px;
    background-image: url("images/background_second.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.body_container_sixth
{
    position: absolute;
    top:4320px;
    width: 100%;
    height: 720px;
    background-image: url("images/background_sixth.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.body_container_fourth
{ 
    width: 100%;
    height: 720px;
    background-image: url("images/background_fourth.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 720px;
}
.body_container_fives
{
    width: 100%;
    height: 720px;
    background-image: url("images/background_fives.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 0px;
}

.body_container_first
{
    width: 100%;
    height: 720px;
    background-color: white; 
}

.body_container_third
{
    width: 100%;
    height: 720px;
    background-color: white;    
    background-size: 100%;
    position: absolute;
    top: 2169px;
}

.left_header_logo
{
    width: 250px;
    height: 100px;
}

body
{
    background-image: url("images/header_background.jpg");
    margin-left: 0px;   
    margin-right: 0px;    
    width: 100%;
}

.background_header
{
    width: 100%;
    height: 640px;
    margin: 0px auto;       
}

.first_word
{
    list-style: none;
	position: absolute;
    font-size: 28px;
    color:  white;
    text-shadow: 1px 0 1px #000;
    list-style: none;
	position: absolute;
    top: 2px;
	left: 600px;
}

.second_word
{
    list-style: none;
	position: absolute;
    font-size: 28px;
    color:  white;
    text-shadow: 1px 0 1px #000;
    list-style: none;
	position: absolute;
    top: 2px;
	left: 750px;
}

.third_word
{
    list-style: none;
	position: absolute;
    font-size: 28px;
    color:  white;
    text-shadow: 1px 0 1px #000;
    list-style: none;
	position: absolute;
    top: 2px;
	left: 920px;
}

.fourth_word
{
    list-style: none;
	position: absolute;
    font-size: 28px;
    color:  white;
    text-shadow: 1px 0 1px #000;
    list-style: none;
	position: absolute;
    top: 2px;
	left: 1070px;
}

.fives_word
{
    list-style: none;
	position: absolute;
    font-size: 28px;
    color:  white;
    text-shadow: 1px 0 1px #000;
    list-style: none;
	position: absolute;
    top: 2px;
	left: 1230px;    
}

.sixth_img
{
	position: absolute;
    top: 25px;
	left: 1350px;
    width: 50px;
    height: 50px;
}

.text_header
{
    list-style: none;
	position: absolute;
    font-size: 128px;
    color:  white;
    text-shadow: 1px 0 1px #000;
    top: 200px;
	right: 800px;    
}

.text_header_second
{
    margin-left: 50px;
    font-size: 28px;
    color:  white;
    text-shadow: 1px 0 1px #000;
    list-style: none;
	position: absolute;
    top: 425px;
	right: 750px;
      
}

button 
{
    top: 570px;
	right: 1135px;
    margin-left: 60px;  
    list-style: none;
	position: absolute;
    width: 220px;
    height: 40px;
    background: linear-gradient(to bottom, #ffbef6 0%,#ffccf5 100%); /* W3C */
    border: none;
    border-radius: 5px;
    border-bottom: 4px solid #ffa9f9;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 20px;
    text-align: center;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;
}

.image_graphics
{
    
    position: absolute;
    top: 70px;
	left: 1013px;
    width: 1px;
    height: 1px;
}

.text_body_first
{
    font-size: 60px;
    color:  rgb(168, 242, 255);
    text-shadow: 1px 0 1px #000;
    list-style: none;
	position: absolute;
    bottom: -350px;
	right: 250px;
        
}

.lorem_body_first
{
    font-size: 26px;
    color:  rgb(168, 242, 255);
    text-shadow: 1px 0 1px #000;
    list-style: none;
	position: absolute;
    bottom: -450px;
	right: 95px;
      
}

.body_holder_first
{
    top: 1250px;
	right: 366px;
    margin-left: 60px;  
    list-style: none;
	position: absolute;
    width: 250px;
    height: 40px;
    background: linear-gradient(to bottom, #adfffb 0%,#99f3ff 100%); /* W3C */
    border: none;
    border-radius: 5px;
    border-bottom: 4px solid #80e6ff;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 20px;
    text-align: center;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer; 
}

.body_first_image
{
    position: absolute;
    top: 852px;
	left: 150px;
}
.body_first_image_second
{
    position: absolute;
    top: 1180px;
	left: 20px;
}

a
{
    text-decoration: none;
    color: white;
}

.body_first_image_third
{
    position: absolute;
    top: 1254px;
	right: 0px;
}

.body_first_image_fourth
{
    position: absolute;
    top: 800px;
	left: 520px;
}

.body_first_image_fives
{
    position: absolute;
    top: 752px;
	left: 0px;
}
.body_container_text_second
{
    font-size: 80px;
    color:  rgb(255, 255, 255);
    text-shadow: 1px 0 1px #000;
    list-style: none;
	position: absolute;
    top: 1500px;
	right: 500px;
}

.krug_one
{
    position: absolute;
    top: 1700px;
	left: 150px;
}

.text_krug_one
{
    font-size: 30px;
    color:  rgb(255, 255, 255);
    text-shadow: 1px 0 1px #000;
    position: absolute;
    top: 1930px;
	left: 208px;
}

.text_krug_one_text
{
    font-size: 20px;
    color:  rgb(255, 255, 255);
    text-shadow: 1px 0 1px #000;
    position: absolute;
    text-align: center;
    top: 1980px;
	left: 100px;
}

.krug_second
{
    position: absolute;
    top: 1700px;
	left: 615px;
}

.text_krug_second
{
    font-size: 30px;
    color:  rgb(255, 255, 255);
    text-shadow: 1px 0 1px #000;
    position: absolute;
    top: 1930px;
	left: 680px;
}

.text_krug_second_text
{
    font-size: 20px;
    color:  rgb(255, 255, 255);
    text-shadow: 1px 0 1px #000;
    position: absolute;
    text-align: center;
    top: 1980px;
	left: 570px;
}

.krug_third
{
    position: absolute;
    top: 1700px;
	left: 1100px;
}

.text_krug_third
{
    font-size: 30px;
    color:  rgb(255, 255, 255);
    text-shadow: 1px 0 1px #000;
    position: absolute;
    top: 1930px;
	left: 1160px;
}

.text_krug_third_text
{
    font-size: 20px;
    color:  rgb(255, 255, 255);
    text-shadow: 1px 0 1px #000;
    position: absolute;
    text-align: center;
    top: 1980px;
	left: 1060px;
}

.Graphics_Body_Third_Graphics
{
    position: absolute;
    top: 1500px;
	right: 0px;
}

.Graphics_Body_Third_Graphics_Second
{
    position: absolute;
    top: 1500px;
	left: 0px;
}

.body_container_text_third
{
    font-size: 60px;
    color:  rgb(167, 217, 238);
    text-shadow: 1px 0 1px #000;
    text-align: center;
}

.body_container_text_third_not_main
{
    font-size: 20px;
    color:  rgb(167, 217, 238);
    text-shadow: 1px 0 1px #000;
    text-align: center;
}

.body_container_third_krug
{
    margin-top: 100px;
    margin-left: 150px;
    width: 250px;
    height: 250px;
}

.body_container_third_krug_second
{
    margin-top: 100px;
    margin-left: 600px;
    width: 250px;
    height: 250px;
}

.body_container_third_krug_third
{
    position:absolute;
    top: 310px;
    right: 600px;
    width: 250px;
    height: 250px;
}

.text_third
{
    position: absolute;
    top: 320px;
    right: 650px;
    font-size: 50px;
    color:  rgb(167, 217, 238);
    text-shadow: 1px 0 1px #000;
    text-align: center;
}

.text_third_second
{
    position: absolute;
    top: 320px;
    right: 1080px;
    font-size: 50px;
    color:  rgb(167, 217, 238);
    text-shadow: 1px 0 1px #000;
    text-align: center;
}

.text_third_third
{
    position: absolute;
    top: 320px;
    right: 245px;
    font-size: 50px;
    color:  rgb(167, 217, 238);
    text-shadow: 1px 0 1px #000;
    text-align: center;
}

.body_vector_one
{
    position: absolute;
    top: 60px;
    left: -50px;   
}

.body_vector_second
{
    position: absolute;
    bottom: 0px;
    right: 0px;   
}

.body_vector_third
{
    position: absolute;
    bottom: 0px;
    left: 0px;   
}

.body_vector_fourth
{
    position: absolute;
    top: 0px;
    right: 0px;   
}

.body_fourth_main_text
{
    position: absolute;
    top:3100px;
    left: 150px;
    font-size: 80px;
    color:  rgb(255, 255, 255);
    text-shadow: 1px 0 1px #000;
    text-align: center;
}

.body_fourth_text
{
    position: absolute;
    top:3240px;
    left: 153px;
    font-size: 22px;
    color:  rgb(255, 255, 255);
    text-shadow: 1px 0 1px #000;
    text-align: left;
}

.body_holder_fourth
{
    top: 3380px;
	left: 90px;  
    list-style: none;
	position: absolute;
    width: 250px;
    height: 40px;
    background: linear-gradient(to bottom, #fdb7ff 0%,#fcadff 100%); /* W3C */
    border: none;
    border-radius: 5px;
    border-bottom: 4px solid #fb7bff;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 20px;
    text-align: center;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer; 
}

.img_fourth
{
    position: absolute;
    top: 3050px;
    right: 150px;   
}

.img_body_graphics
{
    margin-left: 0px;
    margin-top:550px;
}

.img_body_graphics_one
{
    position: absolute;
    top:2889px;
    right:0px;
}

.nixao
{
    margin-top: 150px;
    margin-left:600px;
    height: 200px;
    width: 200px;
}

.body_container_fives_text
{
    margin-bottom: 100px;
    font-size: 33px;
    color:  rgb(255, 255, 255);
    text-shadow: 1px 0 1px #000;
    text-align: center;
}

.body_container_fives_text_dop
{
    position: absolute;
    top:4200px;
    right: 585px;
    font-size: 60px;
    color:  rgb(255, 255, 255);
    text-shadow: 1px 0 1px #000;
    text-align: center;
}
.body_container_sixth_text_main
{
    position: absolute;
    left: 500px;
    margin-top: 150px;
    font-size: 60px;
    color:  rgb(0, 0, 0);
    text-shadow: 1px 0 1px #000;
    text-align: left;
}
.body_container_sixth_text_dop
{
    position: absolute;
    left: 335px;
    margin-top: 250px;
    font-size: 30px;
    color:  rgb(0, 0, 0);
    text-shadow: 1px 0 1px #000;
    text-align: center;
}
.body_container_sixth_send_email
{   
    margin-top:350px;
    position: absolute;
    left: 400px;
    width: 400px;
    height: 40px;
}
.body_holder_sixth
{
    margin-top: -221px;
	left: 760px;  
	position: absolute;
    width: 250px;
    height: 45px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgb(0, 0, 0);
    cursor: pointer; 
}

.body_sixth_graphics
{
    position: absolute;
    top:385px;
    margin-left: 0px;
}
.body_sixth_graphics_second
{
    position: absolute;
    top: 50px;
    right: 0px;
}

.footer
{
    margin-top: 710px;
    position: absolute;
    width: 100%;
    height: 720px;
    background-color: grey;
}

.footer_logo
{
    position: absolute;
    top:200px;
    left: 80px;
}

.footer_text_one
{
    font-size: 20px;
    color: white;
    position: absolute;
    top:300px;
    left: 100px;
    text-align: left;
}
.inst_footer
{
    position: absolute;
    top: 430px;
    left: 100px;
    width: 46px;
    height: 46px;
}
.facebook_footer
{
    position: absolute;
    top: 430px;
    left: 160px;
    width: 46px;
    height: 46px;
}

.Twiter_footer
{
    position: absolute;
    top: 430px;
    left: 220px;
    width: 46px;
    height: 46px;
}

.whatsapp_footer
{
    position: absolute;
    top: 430px;
    left: 280px;
    width: 46px;
    height: 46px;
}